body {
    margin: 0%;
}

.info {
    background-color: rgb(64, 80, 110);
    display: flex;
    justify-content: right;
    gap: 30px;
    padding: 10px 200px 10px 100px;
    color: white;
}

.info div {
    display: flex;
    gap: 10px;
}

.Quality {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px 0px 100px;
    margin: 10px;
}

.Quality div img {
    width: 255px;
}


.Quality .li ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 200px;
    gap: 40px;
    justify-content: end;
    font-size: 18px;
}

.li ul li a {
    display: flex;
    font-weight:900;
    font-size: large;
    text-decoration: none;
    color: rgb(63, 84, 111)
    
}

.li ul li a:hover {
    color: rgb(252 185 0);
    text-decoration: underline;
}

.get {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.get button {
    width: 130px;
    height: 40px;
    background-color: rgb(63, 84, 111);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}

.get button:hover {
    background-color: rgb(252 185 0);
}


.Aboutus {
    background-image:url(image/client-backgroun.jpg);
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 100px;
    font-size: x-large;
    color: white;
}


.Aboutfarm {
    display: flex;
    padding: 100px 200px 50px 200px;
}

.Aboutfarm .Aboutfarmson {
    padding-left: 70px;
  
}

.Aboutfarmson h1 {
    font-size: 50px;
}

.Aboutfarmson p {
    line-height: 35px;
    font-size: larger;
    text-align: start;
}

.Aboutfarmson input {
    width: 500px;
}

.Aboutimage div {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}



.Industries {
    background-image:url(image/client-backgroun.jpg);
    position: relative;
    height: 490px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.we-server {
    color: white;
    position: absolute;
    bottom: 360px;
    justify-content: center;
    display: flex;
    font-size: 30px;
}


.ul {
    top: 130px;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 67%;
    height: 260px;
    line-height: 40px;
    font-size: 20px;
    padding: 50px;
}

.backgroundcolor {
    position: absolute;
    background-color: rgb(64, 80, 110); 
    bottom:-15px;
    width: 73.6%;
    height: 20px;
    
}


.getfree {
    display: flex;
    flex-direction: column;
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.getfree h2 {
    text-align: center;
    font-size:xx-large;
}

.getfree .type {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.type input {
    background-color:rgb(246 246 246);
    width: 270px;
    height: 25px;
    padding: 10px;
}

.textarea {
    padding-left: 290px;
    gap: 100px;
}

.textarea textarea {
    background-color:rgb(246 246 246);
}

.getfree .submit {
    display: flex;
    padding-left: 290px;
}

.submit button {
    width: 110px;
    height: 40px;
    background-color: rgb(64, 80, 110); 
    color: white;
    font-weight: bolder ;
    margin-bottom: 70px;
    border: none;
}

.submit button:hover {
    background-color: rgb(252 185 0);
}




.address {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(202, 207, 214);
    padding: 30px;
    color:  rgb(64, 80, 110);
    font-size: 20px;
}

.add {
    width: 200px;
    line-height: 30px;
}

.Quicklink div ul {
    line-height: 30px;
    padding:0px;
}

.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.certibutton button { 
    background-color: rgb(64, 80, 110);
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    font-size: 17px;
}




.Copyright {
    display: flex;
    justify-content: center;
    gap: 500px;
    background-color: rgb(64, 80, 110); 
    color: white;
    font-size: small;
    padding-top: 10px;
    padding-bottom: 30px;
}

